body {
    margin: 0;
    padding: 0;
    background-image: url('fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

/* Estilo para a barra de navegação (navbar) */
.nav-wrapper {
    background-color: #000000;
}

.fixed-buttons .btn-img {
    background-color: rgba(4, 24, 90, 0);
    border: none;
    
}

.fixed-buttons .btn-img:hover {
    background-color: #000000f8;
}

/* Estilos da Galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Ajuste aqui para o tamanho desejado */
    grid-gap: 10px;
    margin-top: -300px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery__item:hover .gallery__img {
    transform: scale(1.1);
}

/* Estilos Responsivos para a Galeria */
@media only screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajuste aqui para o tamanho desejado */
        grid-gap: 8px;
        margin-top: 8px;
    }
}


/* Estilos da Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 65, 187, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

/* Estilos Responsivos para a Lightbox */
@media only screen and (max-width: 768px) {
    .lightbox img {
        max-width: 100%;
        max-height: 100%;
    }
}

.carousel-container {
    padding-top: 80px;
}

.carousel {
    width: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

.carousel img {

    object-fit: cover; /* ou object-fit: contain; dependendo do efeito desejado */
    width: 100%;
    height: 100%;
    width: 100%;
   
}

.fixed-buttons {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

/* Outros estilos... */

/* Estilos para o conteúdo expandido */
.expanded-content,
.custom-collapse {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 850px;
    max-height: 80vh; /* Defina uma altura máxima desejada */
    overflow-y: auto; /* Adicionado overflow-y para permitir rolagem vertical */
}

.custom-collapse {
    width: 60%;
    max-width: 500px;
}

/* Estilos para as imagens no conteúdo expandido */
.expanded-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .expanded-content,
    .custom-collapse {
        width: 90%;
        max-width: none; /* Remover a largura máxima para que o conteúdo possa ocupar toda a largura */
    }

    .custom-collapse {
        width: 80%;
        max-width: none;
    }

    /* Estilos responsivos para as imagens em telas menores */
    .expanded-content img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}



/* Estilos para os botões em telas maiores */
body {
    text-align: center; /* Centraliza os elementos filhos horizontalmente */
}

.custom-btn {
     color: #fff; 
    width: 280px;
    border-radius: 70px;
    margin: 10px auto; /* Centraliza verticalmente e adiciona margem superior e inferior */
}


/* Estilos para telas menores (768px ou menos) */
@media only screen and (max-width: 768px) {
    .expanded-content,
    .custom-collapse {
        width: 90%;
        max-width: 100%;
    }

    /* Estilos para os botões em telas menores */
    .custom-btn {
        width: 100%;
        margin: 5px 0;
    }
}
.btn-1 {
    background: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgb(6, 64, 238) 0%, rgba(12, 25, 180, 1) 100%);
    border: none;
}

/* Gradiente hover para o botão */
.btn-1:hover {
    background: rgb(253, 253, 254);
    background: linear-gradient(0deg, rgb(241, 241, 245) 0%, rgba(2, 126, 251, 1) 100%);
}
